{% extends 'base.html' %}
{% load filtros %}

{% block 'conteudo' %}

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja mesmo excluir?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <a href="{% url 'excluir_carro' id_carro %}" class="btn btn-danger">Excluir</a>
      </div>
    </div>
  </div>
</div>



  <div class="container">
      <br>
    <form action="{% url 'editar_carro' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="id_carro" value="{{carro.id}}" name="carro_id">
        <p>
          <label>Nome do carro:</label>
          <input class="form-control" type="text" value="{{carro.nome}}" name="nome_carro">
        </p>
        
        <p>
          <label>Marca:</label>
          <input class="form-control" type="text" value="{{carro.marca}}" name="marca">
        </p>

        <p>
          <label>Ano:</label>
          <input class="form-control" type="text" value="{{carro.ano}}" name="ano">
        </p>
        
        <p>
          <label>Cor:</label>
          <input class="form-control" type="text" value="{{carro.cor}}" name="cor">
        </p>
        
        <p>
          <label>Preço:</label>
          <input class="form-control" type="text" value="{{carro.preco}}" name="preco">
        </p>
        
        <label>Catregoria:</label>
        <select style="width: 20%;" class="form-control" name="categoria_id">
          {% for i in categoria_carro %}

            {% if carro.categoria.nome == i.nome %}
              <option value="{{i.id}}" selected>{{i}}</option>
            {% else %}
              
              <option value="{{i.id}}">{{i}}</option>
            {% endif %}

          {% endfor %}

        </select>
        
        <br>
        
        <p>
          <label>Data do cadastro:</label>
          <p>{{carro.data_cadastro}}</p>
        </p>
        
        <br>

          <label>Alugado: </label>
          {% if carro.alugado %}
            
            <svg style="color: green" xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
          {% else %}
            <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>   
            
          {% endif %}
          <br>
        <br>

        
    
        

        <input type="submit" class="btn btn-success btn-lg" value="Salvar">
    </form>
    <br>
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal2">
      Excluir
    </button>
    
    <hr>
    <h2>Histórico de emprestimo</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Data Emprestimo</th>
          <th scope="col">Data devolução</th>
          <th scope="col">Tempo de duração</th>
          <th scope="col">Avaliação</th>
        </tr>
      </thead>
      <tbody>
        {% for i in emprestimos%}
          <tr>
            {% if i.nome_emprestado_anonimo == None %}
              <th scope="row">{{i.nome_emprestado}}</th>
            {% else %}
            <th scope="row">{{i.nome_emprestado_anonimo}}</th>
            {% endif%}
            <td>{{i.data_emprestado}}</td>
            <td>{{i.data_devolucao}}</td>
            <td>{{i.data_devolucao|mostrar_duracao:i.data_emprestado}}</td>
            <td>
            {% if i.avaliacao == None and i.data_devolucao != None %}
              <button onclick="avaliacao({{i.id}})" class="btn btn-info" data-toggle="modal" data-target="#exampleModal1">AVALIAR</button>
            {% else%}
              {{i.avaliacao}}

            {% endif %}
            </td>
          </tr>
            {% endfor %}
      </tbody>
    </table>
    
  
  </div>



<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Avaliar empréstimo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'processa_avaliacao' %}" method="POST">{% csrf_token %}
          <input type="hidden" name="id_carro" value="{{id_carro}}">
          <input id="id_alugado" type="hidden" name="id_alugado">
          <select class="form-control" name="opcoes">
            <option value="Péssimo">Péssimo</option>
            <option value="Bom">Bom</option>
            <option value="Ótimo">Ótimo</option>
          <select>
          <br>
          <input type="submit" class="btn btn-info" value="Avaliar">
        </form>
      </div>
     
    </div>
  </div>
</div>


<script>

  function avaliacao(id_alugado){
      input_emprestimo = document.getElementById('id_alugado')
      input_emprestimo.value = id_alugado


  }

</script>

{% endblock %}